._bcdi/
._d/
*.cmo
*.cmi
*.o
*.dSYM
# a.out
# asm.ml
# asm.mli
# emit.ml
# libmincaml.S
# simm.ml
# virtual.ml
# regAlloc.ml
# shootout/Makefile
# shootout/mandelbrot
# shootout/mandelbrot.s
test/toomanyargs.ml
test/*.s
test/*.ans
test/*.cmp
test/*.res
test/ack
test/adder
test/cls-bug
test/cls-bug2
test/cls-rec
test/cls-reg-bug
test/even-odd
test/fib
test/funcomp
test/gcd
test/inprod
test/inprod-loop
test/inprod-rec
test/join-reg
test/join-reg2
test/join-stack
test/join-stack2
test/join-stack3
test/manyargs
test/manyargs.ml
test/matmul
test/matmul-flat
test/non-tail-if
test/non-tail-if2
test/print
test/shuffle
test/spill
test/spill2
test/spill3
test/sum
test/sum-tail
min-rt/min-rt.s
min-rt/globals.s
min-rt/min-rt.min-caml
min-rt/min-rt_b
min-rt/*.cmp
min-rt/*.ppm
